<!-- Name: Jonathan Lee #822937603
     File Name: footer.ejs
     Website Name: 
     Description: handles HTML for the footer
-->

<nav class="navbar navbar-default-bg-primary navbar-fixed-bottom" style="background-color: #ffffff">
  <div class="footer-container">
    <!--<h4 class="navbar-text">&copy; Jonathan Lee | Centennial College</h4>-->
    <div class="row">
      <div class="column" style="background-color:#ffffff; text-align:right; margin: auto; width: 50%; height: 220px; padding: 10px;">
        <h2>A Cleaner Future</h2>
        <p style="font-size:15px">
          44 St. Hildas Avenue
          <br>
          Toronto Ontario
          <br>
          M4N 2P4
          <br>
          Canada
          <br>
          <br>
          (647) 573-5718</p>
      </div>
      <div class="column" style="background-color:#ffffff; text-align:left; margin: auto; width: 50%; padding: 10px;">
        <h2>Hours</h2>
        <p style="font-size:15px">
          Mon.  9:00 a.m. – 5:00 p.m.
          <br>
          Tue.  9:00 a.m. – 5:00 p.m.
          <br>
          Wed.  9:00 a.m. – 5:00 p.m.
          <br>
          Thu.  9:00 a.m. – 5:00 p.m.
          <br>
          Fri.  9:00 a.m. – 5:00 p.m.
          <br>
          Sat.  Closed
          <br>
          Sun.  Closed
          </p>
      </div>
    </div>
  </div>
</nav>

<!-- JAVASCRIPT SECTION -->
    <!-- <script src="scripts/lib/jquery/dist/jquery.min.js"></script> -->
    <script src="scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
