<!--
  Name: Jonathan Lee #822937603
  File Name: about.ejs
  Website Name: https://jonathanleeportfolio.herokuapp.com/
  Description: handles HTML for the about page
-->

<% include ../partials/header.ejs %>


  <!-- MAIN CONTENT -->

  <!--<div class="about-container">-->


  <body>
    <div class="hero-image">
      <img src="assets/Quote_Banner.jpg" alt="About Banner">
      <div class="hero-text">
        <h1 style="font-size:60px">ABOUT ENVIROFIT</h1>
      </div>
    </div>
    <div style="margin: auto; width: 50%; padding: 10px;">
      <h1 style="font-size:60px; text-align:left">Our Story</h1>
    </div>

    <div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px;">
      <p style="font-size:30px; text-align:left; margin: auto;">
        The Envirofit Story Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Curabitur non dolor ac augue aliquam maximus.
        Phasellus lacinia consectetur dolor, non ultrices lorem faucibus ac. 
        Duis consequat convallis neque, sit amet scelerisque
        sapien aliquam vitae. Maecenas non eleifend libero, in molestie orci. 
        Phasellus auctor justo id lorem tincidunt mollis.
        Sed dignissim porta orci dignissim laoreet. 
        Donec venenatis fringilla aliquet. Aliquam et ex neque. Proin pharetra
        nisi in sem pulvinar vestibulum. Fusce sollicitudin velit eu aliquam venenatis.
      </p>
    </div>

    <br>
    <br>

    <div style="margin: auto; width: 50%; padding: 10px;">
      <h1 style="font-size:60px; text-align:left">The Team</h1>
    </div>

    <br>

    <div style="margin: auto; width: 50%; padding: 10px;">
        <h1 style="font-size:40px; text-align:left">Jonathan Mayer</h1>
      </div>

      <br>
    
    <div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px;">
      <div>
        <p style="float: right; padding-left: 40px"><img src="assets/Jonathan_Yoshi.jpg" height="500px" width="400px">
        </p>
        <p style="font-size:30px; text-align:left; margin: auto;">
        Heres Jonathan Mayer! Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Curabitur non dolor ac augue aliquam maximus.
        Phasellus lacinia consectetur dolor, non ultrices lorem faucibus ac. 
        Duis consequat convallis neque, sit amet scelerisque
        sapien aliquam vitae. Maecenas non eleifend libero, in molestie orci. 
        Phasellus auctor justo id lorem tincidunt mollis.
        </p>
      </div>
    </div>

    <br>
    <br>

    <div style="margin: auto; width: 50%; padding: 10px;">
        <h1 style="font-size:40px; text-align:left">Alireza Zamani</h1>
      </div>

      <br>

    <div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px;">
          <p style="float: right; padding-left: 40px"><img src="assets/Jonathan_Yoshi.jpg" height="500px" width="400px">
          </p>
          <p style="font-size:30px; text-align:left; margin: auto;">
          Heres Alireza Zamani! Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Curabitur non dolor ac augue aliquam maximus.
          Phasellus lacinia consectetur dolor, non ultrices lorem faucibus ac. 
          Duis consequat convallis neque, sit amet scelerisque
          sapien aliquam vitae. Maecenas non eleifend libero, in molestie orci. 
          Phasellus auctor justo id lorem tincidunt mollis.
          </p>
      </div>
      
      <br>
      <br>

  </body>

  <% include ../partials/footer.ejs %>