<!-- Name: Jonathan Lee #822937603
     File Name: projects.ejs
     Website Name: https://envirofit-prototype.herokuapp.com/
     Description: handles HTML for the projects page
-->

<% include ../partials/header.ejs %>


<div class="projects-container">
  <div class="row">
    <div class="col-md-offset-0 col-md-10">


    </div>
  </div>
</div>
    

<% include ../partials/footer.ejs %>


